h1 {
    font-family: Arial, sans-serif;
    font-size: 80px;
    color: #ff5240;
}

* {
    font-family: Arial; sans-serif;
}

.location h3 {
    font-szie: 50px;
}
.location ul p {
    font-family: inherit;
    font-size: 12px;
    text-indent: 10px;
}