body {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

* {
    font-family: 'Raleway', sans-serif;
}

/*     HEADER     */

.header img {
    display: block;
    width: 400px;
    margin: 0 auto;

}
.header h1 {
    display: block;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 10px;
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/*     NAVIGATION BAR     */

.navbar {
    background-color: black;
    color: white;
    list-style: none;
    margin: 0px;
    text-align: center;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

}
.navbar ul {
    padding-left: 0px;
}
.navbar li {
    display: inline;
    
}

.navbar a {
    display: inline-block;
    padding: 20px 50px;
    text-decoration: none;
    color: white;
    font-family: 'Slabo 27px', sans-serif; 
}


/*     ABOUT US SECTION     */
h2 {
    text-align: left;
    font-family: 'Slabo 27px', serif;
    font-size: 24px;
    color: black;
    margin-top: 50px;
    margin-left: 20px;
}

.about, .theCookies {
    display: flex;
    flex-direction: row;
}

.theCookies h2 {
    margin-top: 0px;
    padding: 0px;
}


.about img {
    display: inline-block;
    width: 400px;
    height: 250px;
    order: 1;
    flex-grow: 1;
    margin-left: 20px;
    flex-shrink: 1;
    border-radius: 5px;
}

.about p {
    flex-grow: 2;
    font-size: 16px;
    margin: 10px;
    margin-right: 20px;
    padding: 10px;
    display: inline-block;
    order: 2;
    /*width: 300px;*/
}

.theCookies img {
    display: inline-block;
    width: 400px;
    height: 250px;
    order: 2;
    flex-grow: 1;
    margin-right: 20px;
    flex-shrink: 1;
    border-radius: 5px;
}

.theCookies p {
    flex-grow: 2;
    font-size: 16px;
    margin: 10px;
    margin-right: 20px;
    padding: 10px;
    display: inline-block;
    order: 1;
    /*width: 300px;*/
}

hr {
    margin: 10px 10px;
}





/*     LOCATIONS     */



.location h2 {
    display: block;
}
.location img {
    margin: 10px;
    padding: 30px;
}

.data {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: 'Slabo 27px', serif;
    justify-content: space-around;
}
.data ul {
    list-style-type: none;
    text-align: center;

}
/*.data ul li:last-child {
    list-style: none;
    display: inline;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}*/





/*img {
    display: block;
    margin: auto;
    width: 500px;
}*/

/*.table {
    font-family: 'Slabo 27px', sans-serif;
    font-size: 20px;
    /*display: block;*/
    /*overflow: auto;
    text-align: center;
    word-wrap: break-word;*/


/*td {
    width: 200px;
    margin: 50px;
}
#img {
    background-color: white;
    width: 200px;
    height: 200px;
}
#data1 {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 24px;
    height: 60px;
    color:black;
    word-wrap: break-word;
    background-color: #ff5240;
    color: white;
}
#data2 {
    font-size: 16px;
    color: darkslategrey;
    height: 50px;
}
#data3 {
    font-size: 12px;
    color: darkslategrey;
    height: 50px;
}

th {
    word-wrap: break-word;
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
    font-style: bold;

}*/

/*     STORE SECTION     */
#store img {
    display: inline-block;

}




/*     FOOTER - CONTACT SECTION     */
#footer {
    background-color: black;
    color: white;
    margin: 0;
}
#footer h2 {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 24px;
    color: white;
    padding-top: 30px;
}