h1, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #ff5240;
}

* {
    font-family: Arial, sans-serif;
}

.location h3 {
    font-szie: 50px;
}

.location ul p {
    font-family: inherit;
    font-size: 12px;
    text-indent: 10px;
}

.location {
    display: inline-block;
}

p {
    font-size: 12px;
    text-align: center;
}

#container {
    margin-bottom: 80px;
    margin-top: 80px;
}
#datatable {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: block;
    overflow: auto;
    /*table-layout: fixed;
    width: 500px;*/
}
tr {
    background-color: lightgrey;
}
td {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 100px;
    height: 30px;
    color:darkslategrey;
    word-wrap: break-word;
}
th {
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: bold;
    background-color: darkslategrey;
    color:white;

}
#form {
    border: none;
    display: block;
    padding: 10px;
    width: 700px;
    margin: auto;
    border: none;
}
#input{
    display:block;
    /*margin: 10px;*/
    /*padding: 10px;*/
}
#legend {
    color: darkslategrey;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    border: none;
    text-align: center;
}
#addStore {
    display: block;
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
}
#button{
    background-color: darkslategray;
    padding: 4px 10px 4px 10px;
    font-size: 12px;
    font-family:'Open Sans', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
}

.input1, .input2, .input3, .input4 {
    display: inline;
}
