h1, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #ff5240;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.location h3 {
    font-szie: 50px;
}

.location ul p {
    font-family: inherit;
    font-size: 12px;
    text-indent: 10px;
}

.location {
    display: inline-block;
}

p {
    font-size: 12px;
    text-align: center;
}

#container {
    margin-bottom: 80px;
    margin-top: 80px;
}
#datatable {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: block;
    overflow: auto;
    /*table-layout: fixed;
    width: 500px;*/
}

td {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 120px;
    height: 45px;
    color:darkslategrey;
    word-wrap: break-word;
}
th {
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: bold;
    background-color: #7f7f7f;
    color:white;

}

#form {
    border: none;
}

#input{
    display:block;
    /*margin: 10px;*/
    /*padding: 10px;*/
}
#addStore {
    display: block;
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
}
#legend {
    color: darkslategrey;
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    border: none;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 10px;
}
#button{
    background-color: #ff5240;
    /*padding: 4px 10px 4px 10px;*/
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    width: 100px;
}
#button:hover {
    background-color: #a62315;
}

.input1, .input2, .input3, .input4 {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
    color: darkslategray;
    color:darkslate
}
.input1 input, .input2 input, .input3 input, .input4 input {
    /*background-color:#d2d9dd;*/
    border: none;
    height: 20px;
    font-size: 16px;
    width: 400px;
    padding: 5px;
}

#inputForm {
    background-color:lightgrey;
    border-radius: 8px;
    max-width: 450px;
    margin: 0 auto;
}

table thead th:nth-child(n+2){
    background-color:darkgrey;
}
/*table thead th:nth-child(n+18){
    background-color: #7f7f7f;
}*/
table thead th:nth-child(n+1){
    background-color: #7f7f7f;
}

table tr:nth-child(even){
    background-color: #B0E2E2;
}
table tr:nth-child(odd){
    background-color: lightgrey;
}

table thead td {
    background-color: white;
    color: darkslategray;
    font-size: 16px;
    font-weight: bold;
}
